@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;
  --red-choice: #c10007;
  --yellow-choice: #d08700;
  --green-choice: #5ea500;
}

html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', serif;
}
