@import 'tailwindcss';

@font-face {
  font-family: 'FormaDJR';
  src: url('./assets/fonts/FormaDJRCyrillicMicro-Regular.eot');
  src:
    local('Forma DJR Cyrillic Micro'),
    local('FormaDJRCyrillicMicro-Regular'),
    url('./assets/fonts/FormaDJRCyrillicMicro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/FormaDJRCyrillicMicro-Regular.woff2') format('woff2'),
    url('./assets/fonts/FormaDJRCyrillicMicro-Regular.woff') format('woff'),
    url('./assets/fonts/FormaDJRCyrillicMicro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-foreground: #ededed;
  --color-background: #0a0a0a;
  --color-red-choice: #ff3333;
  --color-yellow-choice: #ffcc00;
  --color-green-choice: #33ff33;
  --font-landing:
    'FormaDJR', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply bg-background text-foreground;
}

.landing {
  --color-foreground: #171717;
  --color-background: #ededed;
  --color-red-choice: #c10007;
  --color-yellow-choice: #d08700;
  --color-green-choice: #5ea500;
  color: var(--color-foreground);
}

.background-radial {
  background: radial-gradient(circle at 50% 40%, #1a1a1a 0%, #0a0a0a 50%, #000000 100%);
}

body {
  overflow-x: hidden;
}
