@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground);
  background: var(--background);
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: #ededed;
  --foreground: #171717;
  --red-choice: #c10007;
  --yellow-choice: #d08700;
  --green-choice: #5ea500;
}

.background-radial {
  background: radial-gradient(
    circle at 50% 40%,
    #f9fafb 0%,
    #e5e7eb 50%,
    #9ca3af 100%
  );
}
