@import 'tailwindcss';

@font-face {
  font-family: 'FormaDJR';
  src: url('./assets/fonts/FormaDJRCyrillicMicro-Regular.eot');
  src: local('Forma DJR Cyrillic Micro'), local('FormaDJRCyrillicMicro-Regular'),
      url('./assets/fonts/FormaDJRCyrillicMicro-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/FormaDJRCyrillicMicro-Regular.woff2') format('woff2'),
      url('./assets/fonts/FormaDJRCyrillicMicro-Regular.woff') format('woff'),
      url('./assets/fonts/FormaDJRCyrillicMicro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-foreground: #171717;
  --color-background: #ededed;
  --color-red-choice: #c10007;
  --color-yellow-choice: #d08700;
  --color-green-choice: #5ea500;
  --font-landing: 'FormaDJR', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  @apply bg-background text-foreground;
}

.background-radial {
  background: radial-gradient(circle at 50% 40%, #f9fafb 0%, #e5e7eb 50%, #9ca3af 100%);
}

body {
  overflow-x: hidden;
}
